.sale {
}
.sale__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 10px;
  row-gap: 20px;
  .sale__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .sale__card__images__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 299px;
      height: 296px;
      background: rgb(237, 242, 244);
      .sale__card__images {
        width: 100%;
        object-fit: contain;
        max-width: 212px;
        height: 211px;
      }
    }
    .sale__card__content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      h4 {
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        line-height: 17px;
        letter-spacing: 5%;
      }
      .sale__price__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        p,
        del {
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          letter-spacing: 0%;
        }
        del {
          color: red;
        }
      }
      .sale__card__btn {
        width: 100%;
        max-width: 120px;
      }
    }
  }
}
